nav {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 20;
    background-color: #121212cc;
    border: 2px solid #00ffff;
    border-radius: 8px;
    padding: 8px 12px;
    width: 97%;
    backdrop-filter: blur(5px);
}

.navbar {
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: #00ffffcc;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: #00ffff33;
    color: #ffffffcc;
}
